:root {
  --downplay: midnightblue;
  --sans-font: Arial, Helvetica, sans-serif;
}

header {
  text-align: right;
}

header,
.instruct {
  font-family: var(--sans-font);
  font-size: 0.9rem;
  color: var(--downplay);
}

h1 {
  font-size: 1.5rem;
  font-family: var(--sans-font);
  font-weight: normal;
  text-align: center;
  color: var(--downplay);
}

.progress {
  color: var(--downplay);
  text-align: right;
  font-size: small;
  font-family: var(--sans-font);
}

hr {
  border-color: var(--downplay);
}

.question {
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.choice {
  text-align: center;
  display: grid;
  grid-template-columns: 4em auto 4em;
  /* first and last column widths define width of "best" and "worst" buttons */
  justify-items: center;
  align-items: center;
  border: thin solid grey;
  padding-top: 0.8rem;
  padding-block: 0.8rem;
  margin-bottom: 0.8rem;
}

button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.4em 0.2em hsla(0, 0%, 0%, 0.1),
    0 0.2em 0.125em hsla(0, 0%, 0%, 0.2);
  height: 3em;
}

button:disabled {
  cursor: default;
  opacity: 0.4;
}

.choice button {
  width: 4em;
}

.bestButton {
  background-color: hsl(145, 90%, 85%);
  border-color: hsl(150, 80%, 40%);
}

.bestButton:hover {
  background-color: honeydew;
  border-color: hsl(145, 90%, 85%);
}

.worstButton {
  background-color: hsl(0, 85%, 85%);
  border-color: hsl(0, 70%, 42%);
}

.worstButton:hover {
  background-color: mistyrose;
  border-color: hsl(0, 85%, 85%);
}

.submitButton {
  background-color: #ceebfd;
}

.submitButton:hover {
  background-color: azure;
  border-color: #ceebfd;
}

.outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.grade {
  font-weight: bold;
  font-size: 1.2rem;
}

/* introduce margins at widths > 20em */
@media only screen and (min-width: 20rem) {

  main,
  header {
    margin: 1rem;
  }
}

/* introduce central column */
@media only screen and (min-width: 52rem) {

  main,
  header {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
}